footer{
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    span{
        width: 100%;
    }
    ul{
        list-style: none;    
        display: flex;    
        margin: 0 auto;
        li{           
            display: inline-flex;            
            padding: 20px ;
        }
    }
}