header {
  margin: 3%;
  section {
    display: flex;
    justify-content: space-between;
    img {
      align-self: center;
    }
    nav {
      /*checkbox transparente y en primer plano*/
      input {
        display: block;
        width: 40px;
        height: 32px;
        opacity: 0;
        z-index: 2;
        position: absolute;
      }
      /*animación del menu que se desplega*/
      input[type="checkbox"]:checked ~ ul {
        height: 240px;
        transition: height 0.5s ease-in-out;
      }
      /*span -lineas del menu hamburguesa-*/
      span {
        display: block;
        width: 25px;
        height: 2.5px;
        margin-bottom: 6.5px;
        position: relative;
        background: $fourth_color;
        z-index: 1;
        transform-origin: 3px 0px;
        transition: transform 0.5s ease, opacity 0.55s ease;
      }
      span:first-child {
        transform-origin: 0% 0%;
      }
      span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      /*movimiento a cruz*/
      input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(2px, 1px);
      }
      input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 0px);
      }

      /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
      ul {
        width: 100%;
        position: absolute;
        top: 45px;
        right: 0;
        overflow: hidden;
        list-style: none;
        height: 0px;
        transition: height 0.5s ease;
        background-color: $first_color;

        li {
          position: relative;
          color: $fifth_color;

          a {
            position: relative;
            text-decoration: none;
            color: $fifth_color;
            padding: 16px 5%;
            line-height: 28px;
            display: block;
          }
        }
      }
    }
  }
}
