.btn {
  display: block;
  margin: 0 auto;
  background-color: $sec_color;
  padding: 15px;
  font-weight: 500;
  text-align: center;  
}
main {
  padding-top: 50px;
  /*Inicio seccion inicio*/
  .explore {
    margin: 5%;
    div {
      .tachado {
        text-decoration: line-through;
      }
      .dot {
        color: $first_color;
      }
      a{
        @extend .btn;
      }
     /* a {
        display: block;
        margin: 0 auto;
        background-color: $sec_color;
        padding: 15px;
        font-weight: 500;
        text-align: center;
      }*/
      a:hover {
        background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
        color: $fifth_color;
      }
    }
  }
  /*Final seccion inicio*/
  /*Inicio seccion episodios*/
  #episodios {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    z-index: -2;
    padding-top: 50px;
    padding-bottom: 75px;
    * {
      padding: 0% 5%;
    }
    h2 {
      color: $fifth_color;
    }
    iframe {
      width: 100%;
    }
  }
  /*Final seccion episodios*/
  /*Inicio seccion nosotros*/
  .us {
    div {
      ul {
        list-style: none;
        li {
          img {
            width: 100%;
          }
        }
      }
      p,
      h2 {
        padding: 0 5%;
      }
    }
  }
  /*Final seccion nosotros*/
  /*Inicio seccion entrevistas*/
  .interviews {
    h2 {
      padding: 0 5%;
    }
    div {
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        li {
          list-style: none;
          display: flex;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  /*Final seccion entrevistas*/
  /*Inicio seccion topicos*/
  .topics {
    display: flex;
    flex-direction: column;
    
    h2 {
      margin: 5%;
    }
    ul {
      li {
        display: flex;
        flex-direction: column;
        span {
          text-align: center;
          font-size: 1.5em;
          font-weight: 600;
        }
      }
    }
  }
  /*Final seccion topicos*/
  .pre-footer{
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    padding: 30px;
    text-align: center;
    margin-top: 50px;
    h2, a{
      margin: 5%;
    }
    h2{
      color: $fifth_color;
    }
    a{
      @extend .btn;
    }
    a:hover {
      background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
      color: $fifth_color;
    }
  }
}
