main{
    .tachado{
        text-decoration: line-through;
    }
    .dot{
        color: $first_color;
    }
    a{
        background-color: $sec_color;
    }    
    iframe{
        margin: 3.4%;
        width: 93.1%;        
    }
    
}