main {
  padding-top: 50px;

  .tachado {
    text-decoration: line-through;
  }
  .dot {
    color: $first_color;
  }
  a {
    background-color: $sec_color;
  }
  iframe {
    margin: 3.4%;
    width: 93.1%;
  }
  /*Inicio seccion inicio*/
  .explore {
    div {
      a:hover {
        background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
        color: $fifth_color;
      }
    }
  }
  /*Final seccion inicio*/
  /*Inicio seccion entrevistas*/
  .interviews {
    ul {
      display: flex;
      flex-direction: column;
      li {
        list-style: none;
        display: flex;
        img {
          width: 100%;
        }
      }
    }
  }
  /*Final seccion entrevistas*/
  /*Inicio seccion topicos*/
  .topics {
    display: flex;
    flex-direction: column;    
    ul {
      li {
        display: flex;
        flex-direction: column;        
        span {
          text-align: center;
          font-size: 1.5em;
          font-weight: 600;
        }
      }
    }
  }
  /*Final seccion topicos*/
}
