/*Importacion fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Variables*/
/*Colores*/
$first_color: #0000EC;
$sec_color: #00F3BB;
$third_color: #060A24;
$fourth_color: #000;
$fifth_color: #FFF;
/*Fuentes*/
$font: 'Open Sans', sans-serif;
$font2:'Roboto', sans-serif;
