/*Importacion fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Variables*/
$first_color: #0000EC;
$sec_color: #00F3BB;
$third_color: #060A24;
$font: 'Roboto', sans-serif;