@charset "UTF-8";
/*Importacion fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Variables*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth;
  max-width: 100vw; }

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #060A24; }
  body h1,
  body h2 {
    font-weight: 400;
    font-size: 2.25em; }
  body a:visited {
    color: unset; }
  body a {
    text-decoration: none; }

header {
  width: 100vw;
  max-width: 100vw;
  overflow-x: unset;
  /*Inicio seccion header*/
  /*Final seccion header*/
  /*Inicio seccion inicio*/
  /*Final seccion inicio*/ }
  header .navbar {
    margin: 3%;
    display: flex;
    justify-content: space-between; }
    header .navbar img {
      max-width: 100%;
      align-self: center; }
    header .navbar nav {
      /*checkbox transparente y en primer plano*/
      /*animación del menu que se desplega*/
      /*span -lineas del menu hamburguesa-*/
      /*movimiento a cruz*/
      /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/ }
      header .navbar nav input {
        display: block;
        opacity: 0;
        z-index: 2;
        position: absolute; }
      header .navbar nav input[type="checkbox"]:checked ~ ul {
        height: 240px;
        transition: height 0.5s ease-in-out; }
      header .navbar nav span {
        display: block;
        width: 25px;
        height: 2.5px;
        margin-bottom: 6.5px;
        background: #000;
        z-index: 1;
        transform-origin: 3px 0px;
        transition: transform 0.5s ease, opacity 0.55s ease; }
      header .navbar nav span:first-child {
        transform-origin: 0% 0%; }
      header .navbar nav span:nth-last-child(2) {
        transform-origin: 0% 100%; }
      header .navbar nav input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(2px, 1px); }
      header .navbar nav input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      header .navbar nav input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 0px); }
      header .navbar nav ul {
        width: 100%;
        position: absolute;
        top: 45px;
        right: 0;
        overflow: hidden;
        list-style: none;
        height: 0px;
        transition: height 0.5s ease;
        background-color: #0000EC; }
        header .navbar nav ul li {
          position: relative;
          color: #FFF; }
          header .navbar nav ul li a {
            position: relative;
            text-decoration: none;
            color: #FFF;
            padding: 16px 5%;
            line-height: 28px;
            display: block; }
  header .explore {
    margin: 5%;
    padding-top: 50px;
    padding-bottom: 20px; }
    header .explore h1 {
      display: block;
      width: 230px; }
    header .explore div #p-desktop {
      display: none; }
    header .explore div .tachado {
      text-decoration: line-through; }
    header .explore div .dot {
      color: #0000EC; }
    header .explore div a:hover {
      background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
      color: #FFF; }

/*Clase de boton*/
.btn, header .explore div a, footer .footer a {
  display: block;
  margin: 0 auto;
  padding: 15px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #00F3BB;
  color: #060A24; }

main {
  width: 100vw;
  max-width: 100vw;
  margin-top: 100px;
  overflow-x: unset;
  /*Inicio seccion episodios*/
  /*Final seccion episodios*/
  /*Inicio seccion nosotros*/
  /*Final seccion nosotros*/
  /*Inicio seccion entrevistas*/
  /*Final seccion entrevistas*/
  /*Inicio seccion topicos*/
  /*Final seccion topicos*/ }
  main a:visited {
    color: unset; }
  main #episodios {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    transform: skewY(-6deg);
    z-index: -2;
    padding-top: 50px;
    padding-bottom: 160px; }
    main #episodios * {
      padding: 0% 5%; }
    main #episodios .rev-skew {
      transform: skewY(6deg); }
      main #episodios .rev-skew h2 {
        color: #FFF; }
      main #episodios .rev-skew iframe {
        width: 100%;
        max-width: 100%; }
  main .us {
    /*Superponer imagen de telefono*/
    position: relative;
    transform: translate(0px, -100px); }
    main .us div ul {
      list-style: none; }
      main .us div ul li img {
        width: 100%;
        max-width: 100%; }
    main .us .guia2 {
      align-self: center; }
      main .us .guia2 p,
      main .us .guia2 h2 {
        padding: 0 5%;
        max-width: 500px; }
  main .interviews h2 {
    padding: 0 5%; }
  main .interviews div {
    width: 100%; }
    main .interviews div ul {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      main .interviews div ul li {
        list-style: none;
        display: flex; }
        main .interviews div ul li img {
          width: 100%;
          max-width: 100%; }
  main .topics {
    display: flex;
    flex-direction: column; }
    main .topics h2 {
      margin: 5%; }
    main .topics ul li {
      display: flex;
      flex-direction: column; }
      main .topics ul li span {
        text-align: center;
        font-size: 1.5em;
        font-weight: 600; }

footer {
  overflow-x: unset;
  width: 100vw;
  max-width: 100vw;
  /*Inicio seccion footer*/
  /*Final seccion footer*/
  /*Inicio seccion copyright*/ }
  footer .footer {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    padding: 30px;
    text-align: center;
    margin-top: 50px; }
    footer .footer h2,
    footer .footer a {
      margin: 5%; }
    footer .footer h2 {
      color: #FFF; }
    footer .footer a:hover {
      background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
      color: #FFF; }
  footer .copyright {
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    /*Final seccion copyright*/ }
    footer .copyright span {
      width: 100%; }
    footer .copyright ul {
      list-style: none;
      display: flex;
      margin: 0 auto; }
      footer .copyright ul li {
        display: inline-flex;
        padding: 20px; }
        footer .copyright ul li i {
          color: #060A24; }

@media screen and (min-width: 768px) {
  body {
    margin: 0 auto; }
    body h1 {
      font-size: 4em; }

  header {
    /*Inicio seccion header*/
    /*Final seccion header*/
    /*Inicio seccion inicio*/
    /*Final seccion inicio*/ }
    header .navbar img {
      width: 4%; }
    header .navbar div {
      align-self: center;
      width: 100%; }
      header .navbar div nav input {
        display: none; }
      header .navbar div nav span {
        display: none; }
      header .navbar div nav ul {
        overflow: unset;
        background-color: unset;
        height: unset;
        position: unset;
        display: flex;
        justify-content: space-evenly; }
        header .navbar div nav ul li {
          color: #060A24;
          position: unset; }
          header .navbar div nav ul li a {
            display: unset;
            position: unset;
            padding: unset;
            line-height: unset;
            color: unset; }
          header .navbar div nav ul li a:hover {
            text-decoration: line-through;
            color: #00F3BB; }
          header .navbar div nav ul li a:active {
            color: rgba(6, 10, 36, 0.56); }
    header .explore {
      max-width: 1220px;
      margin: 0 auto; }
      header .explore h1 {
        width: unset; }
      header .explore div #p-mobile {
        display: none; }
      header .explore div #p-desktop {
        display: block;
        width: 600px; }
      header .explore div a {
        width: 220px;
        margin: unset; }

  main {
    padding-top: unset;
    /*Inicio seccion episodios*/
    /*Final seccion episodios*/
    /*Inicio seccion nosotros*/
    /*Final seccion nosotros*/
    /*Inicio seccion entrevistas*/
    /*Final seccion entrevistas*/
    /*Inicio seccion topicos*/
    /*Final seccion topicos*/ }
    main #episodios {
      padding-top: 100px;
      padding-bottom: 125px; }
      main #episodios * {
        padding: unset; }
      main #episodios .rev-skew {
        margin: 0 auto;
        max-width: 1440px; }
        main #episodios .rev-skew h2 {
          padding-left: 110px; }
        main #episodios .rev-skew .tworowflex {
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          main #episodios .rev-skew .tworowflex iframe {
            margin-bottom: 60px;
            width: 47%; }
    main .us {
      max-width: 1220px;
      margin: 0 auto;
      display: flex;
      transform: translate(0px, -60px); }
      main .us .guia1 {
        width: 40%; }
        main .us .guia1 .guia2 {
          width: 65%; }
    main .interviews h2 {
      max-width: 1220px;
      margin: 0 auto;
      padding: unset; }
    main .interviews div ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      main .interviews div ul li {
        width: 33.3333%; }
        main .interviews div ul li img {
          width: 100%; }
    main .topics {
      max-width: 1220px;
      margin: 70px auto 0 auto; }
      main .topics h2 {
        margin: unset; }
      main .topics ul {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row; }

  footer {
    /*Inicio seccion footer*/
    /*Final seccion footer*/
    /*Inicio seccion copyright*/
    /*Final seccion copyright*/ }
    footer .footer {
      clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
      padding-top: 100px;
      padding-bottom: 150px; }
      footer .footer div h2 {
        margin-bottom: 2%; }
      footer .footer div a {
        width: 220px;
        margin: 0 auto; }
    footer .copyright {
      max-width: 1220px;
      margin: 0 auto;
      justify-content: space-between;
      flex-flow: unset; }
      footer .copyright span {
        width: unset;
        align-self: center; }
      footer .copyright ul {
        display: unset;
        margin: unset; } }

/*# sourceMappingURL=styles.css.map */
