@charset "UTF-8";
/*Importacion fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Variables*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: #060A24;
  margin: 5%;
  max-width: 320px; }
  body h1, body h2 {
    font-weight: 400;
    font-size: 2.25em; }

a:visited {
  color: unset; }

a {
  text-decoration: none; }

header section {
  display: flex;
  justify-content: space-between; }
  header section img {
    align-self: flex-start; }
  header section nav div {
    /*checkbox transparente y en primer plano*/
    /*animación del menu que se desplega*/
    /*span -lineas del menu hamburguesa-*/
    /*movimiento a cruz*/
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/ }
    header section nav div input {
      display: block;
      width: 40px;
      height: 32px;
      opacity: 0;
      z-index: 2;
      position: absolute; }
    header section nav div input[type="checkbox"]:checked ~ ul {
      height: 240px;
      transition: height 0.5s ease-in-out; }
    header section nav div span {
      display: block;
      width: 25px;
      height: 2.5px;
      margin-bottom: 6.5px;
      position: relative;
      background: #000;
      z-index: 1;
      transform-origin: 3px 0px;
      transition: transform 0.5s ease, opacity 0.55s ease; }
    header section nav div span:first-child {
      transform-origin: 0% 0%; }
    header section nav div span:nth-last-child(2) {
      transform-origin: 0% 100%; }
    header section nav div input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(2px, 1px); }
    header section nav div input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    header section nav div input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(1px, 0px); }
    header section nav div ul {
      width: 100%;
      position: absolute;
      top: 45px;
      right: 0;
      overflow: hidden;
      list-style: none;
      height: 0px;
      transition: height 0.5s ease;
      background-color: #0000EC; }
      header section nav div ul li {
        list-style: none;
        position: relative;
        color: #FFF; }
        header section nav div ul li a {
          position: relative;
          text-decoration: none;
          color: #FFF;
          padding: 16px 5%;
          line-height: 28px;
          display: block; }

main {
  padding-top: 50px;
  /*Inicio seccion inicio*/
  /*Final seccion inicio*/
  /*Inicio seccion entrevistas*/
  /*Final seccion entrevistas*/
  /*Inicio seccion topicos*/
  /*Final seccion entrevistas*/ }
  main .tachado {
    text-decoration: line-through; }
  main .dot {
    color: #0000EC; }
  main a {
    background-color: #00F3BB; }
  main iframe {
    margin: 3.4%;
    width: 93.1%; }
  main .explore div a:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    color: #FFF; }
  main .interviews {
    display: flex;
    max-width: unset;
    flex-direction: column; }
    main .interviews ul li {
      list-style: none; }
      main .interviews ul li img {
        width: 100%; }
  main .topics {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .topics ul li {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .topics ul li span {
        font-size: 1.5em;
        font-weight: 600; }
      main .topics ul li img {
        align-self: stretch; }

/*# sourceMappingURL=styles.css.map */
